<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/acerca">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/bienvenido">Sólo para ti</a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="/cerrar_sesion">Cerrar Sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn" href="/iniciar_sesion">Iniciar Sesión</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
